version: '3.8'

services:
  # --- Kafka KRaft (Single Node - Economy Mode) ---
  kafka:
    image: bitnami/kafka:3.5
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      # Configuração KRaft (Remove necessidade do Zookeeper)
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
    deploy:
      resources:
        limits:
          cpus: '0.50'     # Limita a meia CPU
          memory: 768M     # Trava em 768MB de RAM

  # --- Spark Master ---
  spark-master:
    build:
      context: .
      dockerfile: infra/Dockerfile
    container_name: spark-master
    command: bin/spark-class org.apache.spark.deploy.master.Master
    ports:
      - "9090:8080" # Web UI
      - "7077:7077" # Master Port
    volumes:
      - ./app:/app
      - ./data:/data
    environment:
      - SPARK_Daemon_MEMORY=512m
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 1G

  # --- Spark Worker ---
  spark-worker:
    build:
      context: .
      dockerfile: infra/Dockerfile
    container_name: spark-worker
    command: bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    depends_on:
      - spark-master
    environment:
      - SPARK_MODE=worker
      - SPARK_WORKER_CORES=1    # Reduzido para economizar
      - SPARK_WORKER_MEMORY=512m # Reduzido para economizar
    volumes:
      - ./app:/app
      - ./data:/data
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
